html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.main-screen {
  background-color: #f0f0f0;
  flex-grow: 1; /* Esto hará que la pantalla principal ocupe el espacio restante */
  padding: 20px;
  overflow: auto; /* Para permitir scroll si el contenido es muy grande */
}
